.card-body {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    text-overflow: ellipsis;
    overflow: hidden

}
.card-id {
    font-size: 14px;
    color: #6c757d; 
}

.card-text {
    font-size: 16px;
}
.navbar {
    background-color: #007bff; 
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff !important; 
}

.navbar-toggler-icon {
    background-color: #fff; 
}

.navbar-nav .nav-link:hover {
    color: #ccc !important; 
}